<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCfAgqq_YprncPgzKlPRb2LmOIDdHl_oY</string>
	<key>GCM_SENDER_ID</key>
	<string>148607528108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>linhvu.AwesomeChat</string>
	<key>PROJECT_ID</key>
	<string>awesome-chat-f6fde</string>
	<key>STORAGE_BUCKET</key>
	<string>awesome-chat-f6fde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148607528108:ios:5b85f8e4b28de8e5368309</string>
</dict>
</plist>